.card{
    width: 35vw;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;

    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header trash"
    "today-temp today"
    "lh today"
    "forecast forecast";
}
.header {
    grid-area: header;
    margin: 1.5rem 0 0 1.5rem;
    font-size: 1.5rem;
}

.trash {
    margin-top: 0.75rem;
    grid-area: trash;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1.5rem;
}

.trash button{
    background: rgb(255, 169, 169);
    padding: 0.225rem 0.15rem 0.15rem 0.15rem;
    border: none;
    border-radius: 5px;
    color: rgb(255, 0, 0);
    cursor: pointer;
}

.today {
    grid-area: today;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-right: 1.5rem;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.today img{
    width: auto;
    height: 100%;
}

.today-temp {
    grid-area: today-temp;
    font-size: 3rem;
    margin: 1.5rem 0 0.5rem 1.5rem;
}

.lh {
    display: flex;
    gap: 1.25rem;
    grid-area: lh;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
}

.forecast {
    grid-area: forecast;
    margin: 1rem 1.5rem 1.5rem 1.5rem;
}

.forecast ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Add this line */
    gap: 2rem;
    justify-content: space-evenly; /* Center the items */
}

.forecast li{
    justify-items: center;
}

.forecast .forecast-day{
    font-size: 1.125rem;
    font-weight: 400;
}

.forecast img{
    width: auto;
    height: 50px;
    margin: 0.5rem 0;
}

.forecast .forecast-lh{
    display: flex;
    column-gap: 0.5rem;
    font-size: 1.1rem;

}

.forecast .l{
    color: #353535;
}

@media screen and (max-width: 1024px) {
    .card{
        width: 90vw;
        height: auto;
    }

    .forecast ul{
        gap: 1rem;
    }

    .forecast .forecast-day{
        font-size: 1rem;
        font-weight: 400;
    }

    .forecast .forecast-lh{
        font-size: 0.8rem;
    }

    .forecast img{
        width: auto;
        height: 35px;
        margin: 0.5rem 0;
    }
}