.hourly{
    grid-area: hourly;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;

    overflow: visible;
}

.hourly h1{
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.hourly svg.gradient-layer {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 210px; /* chart height */
    z-index: 0;
    pointer-events: none;
}