.weatherdetail {
    width: 85vw;
    display: grid;
    justify-self: center;
    grid-template-areas:
        "current hourly hourly"
        "daily sun rain";
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1.5rem;
}

.current{
    grid-area: current;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1.5rem;
}

.heading h1{
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.heading p{
    font-size: 1rem;
}

.current-temp{
    display: grid;
    grid-template-areas:
            "img temp"
            "img cond";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    column-gap: 3rem;
    margin-top: 1.5rem;
}

.current-temp .temp{
    grid-area: temp;
    font-size: 3rem;
}

.current-temp .temp sup{
    font-size: 1.5rem;
}

.current-temp .cond{
    grid-area: cond;
    font-size: 1.125rem;
    align-self: start;
}

.current-temp img{
    grid-area: img;
    width: 100px;
    height: auto;
}

.infos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    font-size: 1rem;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.75rem;
}

.d-forecast{
    grid-area: daily;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1.5rem;
  }

.d-forecast h1 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.d-forecast ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.d-forecast ul:first-of-type {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.d-forecast li {
    padding: 0.5rem 1rem;
}

.day-forecast {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    justify-items: start;
}

.day-forecast .date{
    justify-self: end;
}

.hourly{
    grid-area: hourly;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.sun{
    grid-area: sun;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.precipitation-map{
    grid-area: rain;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
